:root {
  --bg-color: #f1f5f9;
  --card-color: #ffffff;
  --navbar-color: #e2e8f0;
  --primary-color: #6366f1;
  --text-color: #1e293b;
  --border-color: #e5e7eb;

  --success-color: #22c55e;
  --danger-color: #ef4444;
}

.dark-mode{
    --bg-color: #0f172a;
  --card-color: #1e293b;
  --navbar-color: #020617;
  --primary-color: #818cf8;
  --text-color: #e2e8f0;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: var(--navbar-color);
}

.card {
  background-color: var(--card-color);
}

.btn-primary {
  background-color: var(--primary-color);
  color: white;
}

.btn-danger {
  background-color: var(--danger-color);
  color: white;
}

.table {
  border: 1px solid var(--border-color);
}

.table th {
  color: #64748b;
}